[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-admin = "*"
django = "*"
psycopg2-binary = "*"
djangorestframework = "*"
tweepy = "*"

[dev-packages]

[requires]
python_version = "3.10"
