@font-face {
	font-family: iranyekan;
	src: url('fonts/iranyekanwebregular_fanum.woff2') format('woff');
}

body {
	font-family: iranyekan;
}

input[type='password'] {
	font-family: sans-serif;
}

body {
	font-size: 0.875rem;
}

.table-800 {
	max-width: 800px;
}

.footer-back {
	margin-top: 200px;
	padding-left: 20px;
	position: relative;
	bottom: 0;
	left: 0;
}

.footer-img-1 {
	float: left;
}

.footer-img-2 {
	position: absolute;
	top: 14px;
	left: 300px;
	cursor: pointer;
}

.fix-1 {
	position: fixed;
	top: 271px;
	width: 83%;
	z-index: 10;
}

.fix-2 {
	position: fixed;
	top: 335px;
	width: 83%;
	z-index: 10;
}

.back-white {
	position: fixed;
	top: 215px;
	background-color: white;
	width: 100%;
	height: 21%;
	z-index: 9;
}

.flex-1 {
	display: flex;
	flex-direction: row;
}

.ex-box {
	border: 2px solid;
	width: 650px;
	margin-right: 123px;
	line-height: 1.2rem;
	margin-top: -68px;
	border-radius: 15px;
	background-color: #f3f3f3;
	overflow: hidden;
	padding-right: 17px;
}

.txt-1 {
	text-align: right;
	width: 687px;
	height: 553px;
	overflow-y: scroll;
	overflow-x: hidden;
}

.txt-1 h1 {
	font-weight: bold;
	margin: 11px 103px 23px 55px;
}

.txt-1 p {
	font-size: 11px;
	width: 580px;
	margin: 0 14px 0 28px;
	text-align: justify;
}

.txt-2 {
	margin: 84px 43px 20px 0px;
	font-size: 12px;
}

.ex-chart {
	width: 750px;
	font-size: 10px;
	margin-right: -60px;
}

.w-1 {
	width: 111px;
}

.title-1 {
	color: white;
	font-size: 26px;
	padding-right: 50px;
}

.title-2 {
	font-size: 26px;
	line-height: 36px;
	margin-top: 40px;
	text-align: right;
	font-weight: bold;
}

.text {
	font-size: 18px;
	text-align: right;
	line-height: 24px;
	margin-top: 60px;
}
.chart {
	width: 35%;
	padding: 60px 50px 60px 10px;
	text-align: center;
}

.group-title {
	color: white;
	font-size: 20px;
	padding-right: 50px;
}

.gauge-text {
	text-align: center;
	font-size: 26px;
	line-height: 36px;
	margin-top: 40px;
	font-weight: bold;
}

.gauge-text-2 {
	text-align: center;
	font-size: 26px;
	line-height: 36px;
	font-weight: bold;
}

.main-1 {
	width: 1000px;
	height: 1000px;
}

.title-area {
	text-align: center;
	font-weight: bold;
}

.chart-area {
	position: relative;
	top: 2%;
	right: 14%;
	width: 1000px;
	height: 1000px;
}

.radar-chart svg {
	position: absolute;
	top: 1%;
	right: 17%;
	height: 63%;
}

.guide {
	font-size: 16px;
	border: solid 2.4px black;
	font-weight: bold;
	width: 57%;
	height: 25%;
	position: absolute;
	top: 8.4%;
	right: 10%;
	z-index: -100;
}

.guide div {
	border-bottom: solid 2.4px black;
}

.guide div:last-child {
	border-bottom: 0;
}

.line-1 {
	position: relative;
	height: 29.5%;
	padding-top: 4%;
	padding-right: 2%;
	background-color: #f0b3af;
}

.line-1 span {
	position: absolute;
	top: 0%;
	right: 33%;
}

.line-2 {
	position: relative;
	height: 20.5%;
	padding-top: 2%;
	padding-right: 2%;
	background-color: #cbe6f8;
}

.line-2 span {
	position: absolute;
	top: 0%;
	right: 33%;
}

.line-3 {
	position: relative;
	height: 16.5%;
	padding-top: 1%;
	padding-right: 2%;
	background-color: #c1cee9;
}

.line-3 span {
	position: absolute;
	top: 0%;
	right: 33%;
}

.line-4 {
	position: relative;
	height: 13.5%;
	padding-top: 0.5%;
	padding-right: 2%;
	background-color: #fef0ba;
}

.line-4 span {
	position: absolute;
	top: 0%;
	right: 33%;
}

.line-5 {
	position: relative;
	height: 10.3%;
	padding-top: -0.5%;
	padding-right: 2%;
	background-color: #fbcfac;
}

.line-5 span {
	position: absolute;
	top: 0%;
	right: 33%;
}

.line-6 {
	position: relative;
	padding-right: 2%;
	background-color: #cdcdd0;
}

.line-6 span {
	position: absolute;
	top: 0%;
	right: 33%;
}

.c-1 {
	position: absolute;
	top: 8.5%;
	right: 41.6%;
	width: 48.7%;
	height: 48.7%;
	background-color: #f0b3af;
	border-radius: 50%;
	z-index: -10;
}

.c-2 {
	position: absolute;
	top: 15.8%;
	right: 48.9%;
	width: 34%;
	height: 34%;
	background-color: #cbe6f8;
	border-radius: 50%;
	z-index: -9;
}

.c-3 {
	position: absolute;
	top: 21.8%;
	right: 55%;
	width: 21.8%;
	height: 21.8%;
	background-color: #c1cee9;
	border-radius: 50%;
	z-index: -8;
}

.c-4 {
	position: absolute;
	top: 25.5%;
	right: 58.6%;
	width: 14.6%;
	height: 14.6%;
	background-color: #fef0ba;
	border-radius: 50%;
	z-index: -7;
}

.c-5 {
	position: absolute;
	top: 29.2%;
	right: 62.3%;
	width: 7.2%;
	height: 7.2%;
	background-color: #fbcfac;
	border-radius: 50%;
	z-index: -6;
}

.c-6 {
	position: absolute;
	top: 31.5%;
	right: 64.6%;
	width: 2.5%;
	height: 2.5%;
	background-color: #cdcdd0;
	border-radius: 50%;
	z-index: -5;
}

.sc {
	border: solid 1.9px white;
	width: 37.5px;
	height: 37.5px;
	border-radius: 50%;
}

.num {
	position: absolute;
	top: 0.5px;
	right: 4px;
}

.num-1 {
	color: black;
}

.num-2 {
	color: white;
}

.num p {
	font-size: 12px;
	font-weight: bolder;
	text-align: center;
	margin: -2px;
	margin-right: 1px;
}

.circle-1 {
	position: relative;
	background-color: #f6ad22;
}

.s-1 {
	position: absolute;
	top: 8.5%;
	right: 62.3%;
}

.circle-2 {
	position: relative;
	background-color: #f6ad22;
}

.s-2 {
	position: absolute;
	top: 9.1%;
	right: 58.7%;
}

.circle-3 {
	position: relative;
	background-color: #f6ad22;
}

.s-3 {
	position: absolute;
	top: 10.3%;
	right: 55.3%;
}

.circle-4 {
	position: relative;
	background-color: #f6ad22;
}

.s-4 {
	position: absolute;
	top: 11.9%;
	right: 52%;
}

.circle-5 {
	position: relative;
	background-color: #f6ad22;
}

.s-5 {
	position: absolute;
	top: 14.1%;
	right: 49.1%;
}

.circle-6 {
	position: relative;
	background-color: #5bbd41;
}

.s-6 {
	position: absolute;
	top: 16.7%;
	right: 46.5%;
}

.circle-7 {
	position: relative;
	background-color: #5bbd41;
}

.s-7 {
	position: absolute;
	top: 19.7%;
	right: 44.5%;
}

.circle-8 {
	position: relative;
	background-color: #5bbd41;
}

.s-8 {
	position: absolute;
	top: 23%;
	right: 43%;
}

.circle-9 {
	position: relative;
	background-color: #5bbd41;
}

.s-9 {
	position: absolute;
	top: 26.5%;
	right: 42%;
}

.circle-10 {
	position: relative;
	background-color: #5bbd41;
}

.s-10 {
	position: absolute;
	top: 30.1%;
	right: 41.6%;
}

.circle-11 {
	position: relative;
	background-color: #176ba7;
}

.s-11 {
	position: absolute;
	top: 33.7%;
	right: 41.6%;
}

.circle-12 {
	position: relative;
	background-color: #176ba7;
}

.s-12 {
	position: absolute;
	top: 37.2%;
	right: 42.3%;
}

.circle-13 {
	position: relative;
	background-color: #176ba7;
}

.s-13 {
	position: absolute;
	top: 40.6%;
	right: 43.6%;
}

.circle-14 {
	position: relative;
	background-color: #176ba7;
}

.s-14 {
	position: absolute;
	top: 43.8%;
	right: 45.5%;
}

.circle-15 {
	position: relative;
	background-color: #176ba7;
}

.s-15 {
	position: absolute;
	top: 46.7%;
	right: 47.8%;
}

.circle-16 {
	position: relative;
	background-color: #176ba7;
}

.s-16 {
	position: absolute;
	top: 49%;
	right: 50.5%;
}

.circle-17 {
	position: relative;
	background-color: #176ba7;
}

.s-17 {
	position: absolute;
	top: 50.9%;
	right: 53.5%;
}

.circle-18 {
	position: relative;
	background-color: #176ba7;
}

.s-18 {
	position: absolute;
	top: 52.4%;
	right: 56.9%;
}

.circle-19 {
	position: relative;
	background-color: #176ba7;
}

.s-19 {
	position: absolute;
	top: 53.3%;
	right: 60.4%;
}

.circle-20 {
	position: relative;
	background-color: #176ba7;
}

.s-20 {
	position: absolute;
	top: 53.6%;
	right: 64%;
}

.circle-21 {
	position: relative;
	background-color: #176ba7;
}

.s-21 {
	position: absolute;
	top: 53.4%;
	right: 67.6%;
}

.circle-22 {
	position: relative;
	background-color: #76137d;
}

.s-22 {
	position: absolute;
	top: 52.5%;
	right: 71.2%;
}

.circle-23 {
	position: relative;
	background-color: #76137d;
}

.s-23 {
	position: absolute;
	top: 51%;
	right: 74.5%;
}

.circle-24 {
	position: relative;
	background-color: #76137d;
}

.s-24 {
	position: absolute;
	top: 49.1%;
	right: 77.7%;
}

.circle-25 {
	position: relative;
	background-color: #76137d;
}

.s-25 {
	position: absolute;
	top: 46.6%;
	right: 80.3%;
}

.circle-26 {
	position: relative;
	background-color: #d6000b;
}

.s-26 {
	position: absolute;
	top: 43.8%;
	right: 82.6%;
}

.circle-27 {
	position: relative;
	background-color: #d6000b;
}

.s-27 {
	position: absolute;
	top: 40.7%;
	right: 84.4%;
}

.circle-28 {
	position: relative;
	background-color: #d6000b;
}

.s-28 {
	position: absolute;
	top: 37.4%;
	right: 85.7%;
}

.circle-29 {
	position: relative;
	background-color: #d6000b;
}

.s-29 {
	position: absolute;
	top: 33.7%;
	right: 86.5%;
}

.circle-30 {
	position: relative;
	background-color: #d6000b;
}

.s-30 {
	position: absolute;
	top: 30.1%;
	right: 86.7%;
}

.circle-31 {
	position: relative;
	background-color: #f75f00;
}

.s-31 {
	position: absolute;
	top: 26.5%;
	right: 86.3%;
}

.circle-32 {
	position: relative;
	background-color: #f75f00;
}

.s-32 {
	position: absolute;
	top: 23%;
	right: 85.3%;
}

.circle-33 {
	position: relative;
	background-color: #f75f00;
}

.s-33 {
	position: absolute;
	top: 19.8%;
	right: 83.7%;
}

.circle-34 {
	position: relative;
	background-color: #f75f00;
}

.s-34 {
	position: absolute;
	top: 16.6%;
	right: 81.6%;
}

.circle-35 {
	position: relative;
	background-color: #f75f00;
}

.s-35 {
	position: absolute;
	top: 14%;
	right: 79%;
}

.circle-36 {
	position: relative;
	background-color: #f75f00;
}

.s-36 {
	position: absolute;
	top: 11.9%;
	right: 76.2%;
}

.circle-37 {
	position: relative;
	background-color: #f75f00;
}

.s-37 {
	position: absolute;
	top: 10.3%;
	right: 73%;
}

.circle-38 {
	position: relative;
	background-color: #f75f00;
}

.s-38 {
	position: absolute;
	top: 9%;
	right: 69.5%;
}

.circle-39 {
	position: relative;
	background-color: #f75f00;
}

.s-39 {
	position: absolute;
	top: 8.3%;
	right: 65.9%;
}

.part-2 {
	position: relative;
	top: -285px;
}

.table-840 {
	max-width: 840px;
}

.assessor-table {
	width: unset;
}
.assessor-table td {
	padding-right: 40px;
	padding-left: 40px;
}

th:first-of-type {
	border-top-right-radius: 10px;
}

th:last-of-type {
	border-top-left-radius: 10px;
}

/* tr:first-of-type td:first-of-type {
    border-top-right-radius: 10px;
  }
tr:first-of-type td:last-of-type {
    border-top-left-radius: 10px;
  } */
tr:last-of-type td:first-of-type {
	border-bottom-right-radius: 10px;
}
tr:last-of-type td:last-of-type {
	border-bottom-left-radius: 10px;
}

tbody,
td,
tfoot,
th,
thead,
tr {
	border-style: hidden;
}

.ol-main {
	counter-reset: item;
}
.li-main {
	display: block;
}
.li-main:before {
	content: counters(item, '.') ' ';
	counter-increment: item;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited {
	background-color: #2d306a;
}

.outer-title {
	margin-right: 20px;
}

.outer-title h5 {
	font-size: 1.35rem;
}

.page-title {
	margin-right: 50px;
	margin-bottom: 40px;
}

#message-container {
	position: absolute;
	top: 1%;
	left: 1%;
	z-index: 10;
}

.very-high-priority {
	background-color: #ff0000 !important;
}

.high-priority {
	background-color: #ff7944 !important;
}

.low-priority {
	background-color: #ffc000 !important;
}

.very-low-priority {
	background-color: #a0de53 !important;
}

.feather {
	width: 16px;
	height: 16px;
	vertical-align: text-bottom;
}

.navbar {
	background-color: #082b60 !important;
}

.navbar-brand {
	background-color: rgba(0, 0, 0, 0) !important;
	box-shadow: unset !important;
	z-index: 3;
}

.navbar-brand img {
	width: 100px;
	height: auto;
}

.nav-wrapper {
	position: absolute;
	top: 0;
	width: 100%;
	height: 54px;
	z-index: 9;
}

.nav-wrapper.home {
	z-index: 7;
}

.nav-robbin-register {
	position: fixed;
	top: 0;
	right: -10px;
	width: 113%;
	height: 68px;
	background-color: #090b51;
	z-index: 9;
}

.nav-wrapper nav {
	margin-right: 20px;
}

.nav-wrapper ul {
	/* z-index: 11; */
	width: 100%;
}

.nav-wrapper .navbar-toggler {
	z-index: 11;
}

.nav-item {
	margin-left: 15px;
	margin-right: 15px;
}

/* Group 80 */
.group {
	position: absolute;
	left: -284px;
	top: -384px;
}

/* Pink ribbon */
.pink-ribbon {
	position: absolute;
	width: 264.47px;
	height: 159.93px;
	left: 309.87px;
	top: 380px;
	z-index: 6;
}

/* Polygon 2 */
.rectangle {
	position: absolute;
	width: 436px;
	height: 274px;
	left: 202px;
	top: 384px;
	z-index: 4;
}

/* Dark Blue ribbon */
.dark-blue-ribbon {
	position: absolute;
	width: 65.25px;
	height: 119.02px;
	left: 506.14px;
	top: 382.21px;
	z-index: 5;
}

.line {
	position: absolute;
	width: 100%;
	height: 0px;
	left: 0px;
	top: 56px;
	z-index: 7;
	margin-top: 10px;
	border: 1px solid rgba(111, 107, 107, 0.5);
	transform: rotate(0.15deg);
}

/* Ellipse 4 */
.ellipse {
	position: absolute;
	width: 113px;
	height: 113px;
	left: 272px;
	top: 380px;
	z-index: 8;
}

.calendar {
	position: absolute;
	width: 25px;
	height: 25px;
	left: 207px;
	top: 20px;
	z-index: 5;
}

.item {
	position: sticky;
}

/* Guide Icon Group */
.guide-icon-group {
	position: fixed;
	left: 58%;
	top: 89vh;
	z-index: 1031;
}

.guide-eclipse {
	position: absolute;
	left: 537px;
	top: 1px;
	z-index: 1;
	cursor: pointer;
}

.guide-rect {
	width: 275px;
	height: 476px;
	left: 284px;
	top: -451px;
	display: none;
	border-radius: 17px;
	/* float: right; */
	position: absolute;
	z-index: 0;
}

.guide-rect img {
	width: 100%;
}

.guide-icon {
	position: absolute;
	/* width: 19px; */
	/* height: 19px; */
	left: -284px;
	top: -384px;
}

.card-style {
	width: 434px;
	height: 328px;
	background: #ffffff;
	border-radius: 14px;
}

.card {
	z-index: 6;
}

.top-section {
	/* height: calc((100vh + 5 * 100vmin) / 6); */
	background-image: url(/static/images/hero.jpg);
	background-repeat: no-repeat;
	position: fixed;
	top: 0;
	left: 0;
	background-position: right;
	/* Preserve aspet ratio */
	min-width: 100%;
	min-height: 100%;
	background-size: 100% 100%;
}

.top-section-login {
	background-image: unset;
}

.landing-ribbons {
	position: absolute;
	width: 1154.43px;
	height: 1451.25px;
	left: -427px;
	top: -316px;
	z-index: 1;
	filter: drop-shadow(0px 4px 4px rgba(95, 78, 78, 0.25));
}

.ribbon-logo {
	pointer-events: none;
	background-size: cover;
	background-repeat: no-repeat;
	position: fixed;
	top: -186px;
	left: -148px;
	width: 870px;
	height: 870px;
	z-index: 10;
}

.logo {
	/* pointer-events: none; */
	background-size: cover;
	background-repeat: no-repeat;
	position: fixed;
	top: 28px;
	left: 48px;
	width: 117px;
	height: 117px;
	z-index: 11;
}

.logo:hover {
	cursor: pointer;
}

.top-section-login::before {
	z-index: 0;
}

.landing-rectangle {
	position: absolute;
	width: 671px;
	height: 305px;
	left: 622px;
	top: 317px;
	background-image: url(/static/images/hero.png);
	background-size: cover;
	background-repeat: no-repeat;
	border-radius: 2px;
}

.hero-title {
	bottom: 40%;
	color: #e5e5e5;
	width: 100%;
	height: 100%;
}

.hero-title .btn {
	background-color: #a60b56;
	color: #fff;
	font-size: 0.7rem;
	padding: 15px 35px;
}

.hero-title-inner {
	min-height: 250px;
	padding: 0 10px;
	text-align: center;
	z-index: 0;
	height: 33vh;
	width: 100vw;
	padding-left: 50px;
	padding-right: 50px;
	background-color: transparent;
	/* background-color: rgba(196, 196, 196, 0.39); */
	z-index: 4;
}

.hero-title-inner h1 {
	/* font-size: calc(1.1rem + 1.5vw); */
	font-size: 20px;
	line-height: 40px;
	color: #082b60;
}

/*  */

.landing {
	position: relative;
	width: 1365px;
	height: 831px;
}
.background {
	position: absolute;
	width: 1366px;
	height: 832px;
	left: -1px;
	top: -1px;
	background-image: url(/static/images/hero.jpg);
}

/* Group 84 */
.m-group {
	width: 671px;
	height: 263px;
	position: absolute;
	top: calc(50vh - 40px);
	right: calc(50vw - 725px);
}

/* Rectangle 10 */
.m-rec {
	position: absolute;
	width: 329px;
	height: 155px;
	left: 20px;
	top: -52px;
	border-radius: 2px;
}
.m-rec h1 {
	color: #ffffff;
	font-size: 2.1rem;
}

/* Rectangle 9 */
.m-rect {
	min-width: max-content;
	background: #a60b56;
	border-radius: 6px;
	font-size: 1.5rem;
}

/*  */
.navbar-nav {
	position: fixed;
}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .show > .nav-link {
	border-bottom: #fff solid 2px;
}

.navbar-dark .navbar-nav .nav-link {
	color: #fff;
	padding-right: unset;
	padding-left: unset;
}

.logo-image {
	width: 65px;
	position: absolute;
	left: 15px;
	top: 15px;
	z-index: 2;
}

.sub-btn {
	/* position: absolute; */
	width: 90px;
	height: 33px;
	/* left: 37px;
    top: 131px; */
	background: #a60b56;
	border-radius: 6px;
	font-size: 1.1rem;
	color: white;
}

.login-card {
	position: relative;
	display: flex;
	flex-direction: column;
	min-width: 0;
	word-wrap: break-word;
	background-color: #fff;
	background-clip: border-box;
	border: 1px solid rgba(0, 0, 0, 0.125);
	border-radius: 0.25rem;
	top: 196px;
	width: 400px;
}

.b-tit {
	color: #ffffff;
	text-align: center;
}

.footer {
	display: none;
}

.btn-outline-primary:hover,
.btn-outline-primary:focus,
.btn-check:active + .btn-outline-primary,
.btn-check:checked + .btn-outline-primary,
.btn-outline-primary.active,
.btn-outline-primary.dropdown-toggle.show,
.btn-outline-primary:active {
	color: #fff;
	background-color: #2d306a !important;
	border-color: #2d306a !important;
}
.btn-outline-primary {
	color: #2d306a;
	border-color: #2d306a;
}

.register-ribbon-res {
	display: none;
}

.register-ribbon {
	pointer-events: none;
	background-size: cover;
	background-repeat: no-repeat;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 1550px;
	height: 100%;
	z-index: 7;
}

.register-logo {
	background-size: cover;
	background-repeat: no-repeat;
	position: fixed;
	top: 89px;
	left: 47px;
	width: 110px;
	z-index: 8;
}

.register-logo:hover {
	cursor: pointer;
}

.login-wrapper {
	margin-bottom: 40px;
}

@media screen and (max-width: 830px) and (min-width: 576px) {
	.register-ribbon {
		display: none;
	}

	.register-ribbon-res {
		display: block;
		pointer-events: none;
		background-size: cover;
		background-repeat: no-repeat;
		position: fixed;
		top: -154px;
		left: -263px;
		width: 774px;
		height: 686px;
		z-index: 7;
	}

	.register-logo {
		background-size: cover;
		background-repeat: no-repeat;
		position: fixed;
		top: 81px;
		left: 38px;
		width: 98px;
		z-index: 8;
	}

	.nav-robbin-register {
		z-index: 9;
	}

	.login-card {
		top: 290px;
	}

	.card {
		margin-bottom: 40px;
	}
}

@media screen and (max-width: 576px) and (min-width: 400px) {
	.login-card {
		margin: auto;
		top: 290px;
	}

	.card {
		margin-bottom: 40px;
		z-index: 6;
	}

	.navbar-toggler {
		position: fixed;
		top: 15px;
	}

	.register-ribbon {
		display: none;
	}

	.register-ribbon-res {
		display: block;
		z-index: 7;
		display: block;
		pointer-events: none;
		background-size: cover;
		background-repeat: no-repeat;
		position: fixed;
		top: -154px;
		left: -263px;
		width: 774px;
		height: 686px;
	}

	.register-logo {
		background-size: cover;
		background-repeat: no-repeat;
		position: fixed;
		top: 81px;
		left: 38px;
		width: 98px;
		z-index: 8;
	}

	.nav-robbin-register {
		z-index: 9;
	}

	.navbar-toggler {
		z-index: 10;
	}
}

@media (max-width: 400px) {
	.dashboard-ribbon {
		display: none;
	}

	.extra-logo {
		display: none;
	}

	.fogot-password-card {
		margin-top: 250px;
	}

	.login-wrapper {
		margin-top: 200px;
		z-index: 6;
	}

	.login-card {
		width: 290px;
		margin: auto;
		position: relative;
		top: 51px;
	}

	.navbar-dark .navbar-toggler {
		border-color: transparent;
		margin-top: 138px;
		position: fixed;
		top: -115px;
		right: 13px;
	}

	.nav-item {
		margin-left: -15px;
		margin-right: 15px;
	}

	.navbar-dark .navbar-nav .nav-link {
		color: black;
		font-size: 10px;
		font-weight: bold;
	}

	.navbar-dark .navbar-nav .nav-link:hover {
		color: #a9a9a9;
		font-size: 10.2px;
	}

	.navbar-nav li:last-child {
		padding-bottom: 17px;
	}

	.nav-wrapper ul {
		/* z-index: 1; */
		width: 57%;
		margin-top: 28px;
		margin-right: -10px;
		background-color: #fff;
	}

	.container-fluid {
		padding-right: 0;
		padding-top: 26px;
		margin-right: -2%;
	}

	.ribbon-logo {
		pointer-events: none;
		background-size: cover;
		background-repeat: no-repeat;
		position: fixed;
		top: -75px;
		left: -60px;
		width: 355px;
		height: 355px;
		/* z-index: 10; */
	}

	.logo {
		background-size: cover;
		background-repeat: no-repeat;
		position: fixed;
		top: 9px;
		left: 10px;
		width: 60px;
		height: 60px;
		/* z-index: 11; */
	}

	.logo:hover {
		cursor: pointer;
	}

	.register-ribbon {
		display: none;
	}

	.register-ribbon-res {
		display: block;
		pointer-events: none;
		background-size: cover;
		background-repeat: no-repeat;
		position: fixed;
		top: -73px;
		left: -173px;
		width: 503px;
		height: 430px;
		z-index: 7;
	}

	.register-logo {
		background-size: cover;
		background-repeat: no-repeat;
		position: fixed;
		top: 75px;
		left: 21px;
		width: 63px;
		height: 63px;
		z-index: 8;
	}

	.nav-robbin-register {
		position: fixed;
		top: 0;
		right: -11px;
		width: 153%;
		height: 68px;
		background-color: #090b51;
		z-index: 9;
	}

	.registration-card {
		margin-bottom: 40px;
		margin-top: 128px;
	}

	.top-section {
		/* height: calc((100vh + 5 * 100vmin) / 6); */
		background-image: url(/static/images/hero.jpg);
		background-size: cover;
		background-repeat: no-repeat;
		position: fixed;
		background-position: 75% 0;
		top: 0;
		left: 0;
		/* Preserve aspet ratio */
		min-width: 100%;
		min-height: 100%;
	}

	.m-group {
		position: relative;
	}

	.m-rec {
		position: absolute;
		top: -47%;
		right: 81%;
	}

	.m-rec h1 {
		font-size: 17px;
		line-height: 5.7rem;
	}

	.m-rect {
		font-size: 17px;
		margin-top: 10px;
		margin-left: 27%;
	}

	.footer {
		display: block;
		width: 100%;
		height: 82px;
		background-color: #082b60;
		opacity: 0.7;
		z-index: 100;
		position: fixed;
		bottom: 0;
	}

	.b-tit {
		color: #ffffff;
		text-align: right;
	}
}

@media (max-width: 1750px) {
	.flex-1 {
		display: flex;
		flex-direction: column;
	}

	.ex-box {
		margin-top: 114px;
		margin-right: auto;
		margin-left: auto;
		margin-bottom: 20px;
	}

	.x-main {
		margin-right: auto;
		margin-left: auto;
	}

	.x-auto {
		margin-right: 100px;
	}
}

/* landing Queries */
@media screen and (min-width: 400px) {
	.top-section {
		/* height: calc((100vh + 5 * 100vmin) / 6); */
		background-image: url(/static/images/hero.jpg);
		background-repeat: no-repeat;
		position: fixed;
		background-position: left;
		top: 0;
		left: 0;
		/* Preserve aspet ratio */
		min-width: 100%;
		min-height: 100%;
		background-size: cover;
	}

	.m-group {
		width: 671px;
		height: 263px;
		z-index: 5;
	}

	.m-rec {
		position: absolute;
		width: 374px;
		height: 177px;
		left: 5px;
		top: -52px;
		border-radius: 2px;
	}

	.m-rect {
		width: 104px;
	}

	.h1,
	h1 {
		/* top: 20px; */
		font-size: 0.5rem;
		margin: 37px 14px 29px 9px;
		line-height: 1.9;
	}

	.nav-robbin {
		position: absolute;
		top: 0;
		width: 100%;
		height: 62px;
		z-index: 1;
		background: rgba(9, 12, 81, 0.62);
	}

	.nav-wrapper {
		position: absolute;
		top: 0;
		width: 100%;
		height: 63px;
		z-index: 9;
	}

	/* .ribbon-logo {
		top: 0px;
		left: 0px;
		z-index: 1;
		height: 100vh;
		position: absolute;
		display: none;
	} */

	/* .register-ribbon {
		top: 0px;
		left: 0px;
		z-index: 1;
		height: 100vh;
		position: absolute;
		display: none;
	} */
}
.registration-card {
	padding-top: 128px;
	padding-left: 95px;
	padding-right: 55px;
}

.contact-card {
	padding-top: 249px;
	padding-left: -102px;
	padding-right: 70px;
}

.login-card {
	left: -20px;
}

.fogot-password-card {
	margin-top: 298px;
	margin-right: 29px;
	width: 334px;
}

.password-reset-complete {
	margin-top: 317px;
}
.assessor-registration {
	margin-top: 85px;
	max-width: 487px;
	margin-right: 43px;
	margin-left: 20px;
}

@media screen and (min-width: 554px) {
	.m-group {
		width: 671px;
		height: 263px;

		z-index: 5;
	}

	.m-rec {
		position: absolute;
		width: 374px;
		height: 177px;
		left: 5px;
		top: -52px;
		border-radius: 2px;
	}

	.m-rect {
		width: 104px;
	}

	.nav-robbin {
		position: absolute;
		top: 0;
		width: 100%;
		height: 62px;
		z-index: 1;
		background: rgba(9, 12, 81, 0.62);
	}

	.nav-wrapper {
		position: absolute;
		top: 0;
		width: 100%;
		height: 63px;
		z-index: 9;
	}

	/* .ribbon-logo {
		top: 0px;
		left: 0px;
		z-index: 1;
		height: 100vh;
		position: absolute;
		display: none;
	} */

	/* .register-ribbon {
		top: 0px;
		left: 0px;
		z-index: 1;
		height: 100vh;
		position: absolute;
		display: none;
	} */

	.h1,
	h1 {
		/* top: 20px; */
		font-size: 1.1rem;
		margin: 37px 14px 29px 9px;
		line-height: 1.9;
	}

	.fogot-password-card {
		margin-right: 115px;
	}
}

@media screen and (min-width: 576px) {
	.top-section {
		/* height: calc((100vh + 5 * 100vmin) / 6); */
		background-image: url(/static/images/hero.jpg);
		background-repeat: no-repeat;
		position: fixed;
		top: 0;
		left: 0;
		background-position: right;
		/* Preserve aspet ratio */
		min-width: 100%;
		min-height: 100%;
		background-size: cover;
	}

	.m-group {
		width: 671px;
		height: 263px;

		z-index: 5;
	}

	.m-rec {
		position: absolute;
		width: 374px;
		height: 177px;
		left: 5px;
		top: -52px;
		border-radius: 2px;
	}

	.m-rect {
		width: 104px;
	}

	.nav-robbin {
		position: absolute;
		top: 0;
		width: 100%;
		height: 62px;
		z-index: 1;
		background: rgba(9, 12, 81, 0.62);
	}

	.nav-wrapper {
		position: absolute;
		top: 0;
		width: 100%;
		height: 63px;
		z-index: 9;
	}

	/* .ribbon-logo {
		top: 0px;
		left: 0px;
		z-index: 1;
		height: 100vh;
		position: absolute;
		display: none;
	} */

	/* .register-ribbon {
		top: 0px;
		left: 0px;
		z-index: 1;
		height: 100vh;
		position: absolute;
		display: none;
	} */

	.h1,
	h1 {
		/* top: 20px; */
		font-size: 1.1rem;
		margin: 37px 14px 29px 9px;
		line-height: 1.9;
	}
}

@media screen and (min-width: 600px) {
	.m-group {
		width: 671px;
		height: 263px;

		z-index: 5;
	}

	.m-rec {
		position: absolute;
		width: 374px;
		height: 177px;
		left: 5px;
		top: -52px;
		border-radius: 2px;
	}

	.m-rect {
		width: 104px;
	}

	.nav-robbin {
		position: absolute;
		top: 0;
		width: 100%;
		height: 62px;
		z-index: 1;
		background: rgba(9, 12, 81, 0.62);
	}

	.nav-wrapper {
		position: absolute;
		top: 0;
		width: 100%;
		height: 63px;
		z-index: 9;
	}

	/* .ribbon-logo {
		top: 0px;
		left: 0px;
		z-index: 1;
		height: 100vh;
		position: absolute;
		display: none;
	} */

	.h1,
	h1 {
		/* top: 20px; */
		font-size: 1.1rem;
		margin: 37px 14px 29px 9px;
		line-height: 1.9;
	}

	.fogot-password-card {
		margin-right: 176px;
	}
}

@media screen and (min-width: 692px) {
	.m-group {
		width: 671px;
		height: 263px;

		z-index: 5;
	}

	.m-rec {
		position: absolute;
		width: 374px;
		height: 177px;
		left: 5px;
		top: -52px;
		border-radius: 2px;
	}

	.m-rect {
		width: 104px;
	}

	.nav-robbin {
		position: absolute;
		top: 0;
		width: 100%;
		height: 62px;
		z-index: 1;
		background: rgba(9, 12, 81, 0.62);
	}

	.nav-wrapper {
		position: absolute;
		top: 0;
		width: 100%;
		height: 63px;
		z-index: 9;
	}

	/* .ribbon-logo {
		top: 0px;
		left: 0px;
		z-index: 1;
		height: 100vh;
		position: absolute;
		display: none;
	} */

	/* .register-ribbon {
		top: 0px;
		left: 0px;
		z-index: 1;
		height: 100vh;
		position: absolute;
		display: none;
	} */

	.h1,
	h1 {
		/* top: 20px; */
		font-size: 1.1rem;
		margin: 37px 14px 29px 9px;
		line-height: 1.9;
	}
	.registration-card {
		border-top-width: 01px;
		padding-left: 171px;
		padding-right: 169px;
	}
}

@media screen and (min-width: 720px) {
	.m-group {
		width: 671px;
		height: 263px;

		z-index: 5;
	}

	.m-rec {
		position: absolute;
		width: 374px;
		height: 177px;
		left: 5px;
		top: -52px;
		border-radius: 2px;
	}

	.m-rect {
		width: 104px;
	}

	.nav-robbin {
		position: absolute;
		top: 0;
		width: 100%;
		height: 62px;
		z-index: 1;
		background: rgba(9, 12, 81, 0.62);
	}

	.nav-wrapper {
		position: absolute;
		top: 0;
		width: 100%;
		height: 63px;
		z-index: 9;
	}

	/* .ribbon-logo {
		top: 0px;
		left: 0px;
		z-index: 1;
		height: 100vh;
		position: absolute;
		display: none;
	} */

	/* .register-ribbon {
		top: 0px;
		left: 0px;
		z-index: 1;
		height: 100vh;
		position: absolute;
		display: none;
	} */

	.h1,
	h1 {
		/* top: 20px; */
		font-size: 1.1rem;
		margin: 37px 14px 29px 9px;
		line-height: 1.9;
	}
}

@media screen and (min-width: 768px) {
	.m-group {
		width: 671px;
		height: 263px;
		z-index: 5;
	}

	.m-rec {
		position: absolute;
		width: 374px;
		height: 177px;
		left: 5px;
		top: -52px;
		border-radius: 2px;
	}

	.m-rect {
		width: 104px;
	}

	.nav-robbin {
		position: absolute;
		top: 0;
		width: 100%;
		height: 62px;
		z-index: 1;
		background: rgba(9, 12, 81, 0.62);
	}

	.nav-wrapper {
		position: absolute;
		top: 0;
		width: 100%;
		height: 61px;
		z-index: 9;
	}

	/* .ribbon-logo {
		top: 0px;
		left: 0px;
		z-index: 1;
		height: 100vh;
		position: absolute;
		display: flex;
	} */

	/* .register-ribbon {
		top: 0px;
		left: 0px;
		z-index: 1;
		height: 100vh;
		position: absolute;
		display: flex;
	} */

	.h1,
	h1 {
		/* top: 20px; */
		font-size: 1.1rem;
		margin: 37px 14px 29px 9px;
		line-height: 1.9;
	}

	.registration-card {
		border-top-width: 1px;
		padding-left: 355px;
		/* padding-right: 169px; */
		padding-top: 179px;
		/* padding-left: 95px; */
		padding-right: 55px;
	}

	.login-card {
		right: -106px;
		top: 283px;
		width: 366px;
	}

	.fogot-password-card {
		margin-right: 98px;
		margin-left: -275px;
	}

	.mt-2 {
		margin-left: -223px;
	}

	.password-reset-complete {
		margin-top: 317px;
		margin-right: 129px;
	}

	.assessor-registration {
		margin-top: 85px;
		max-width: 128px;
		margin-right: 43px;
	}
}

@media screen and (min-width: 830px) {
	.m-group {
		width: 671px;
		height: 263px;

		z-index: 5;
		/* left: 415px;
		top: 371px;
		z-index: 6; */
	}

	.m-rec {
		position: absolute;
		width: 374px;
		height: 177px;
		left: 5px;
		top: -52px;
		border-radius: 2px;
	}

	.m-rect {
		width: 104px;
	}

	.nav-robbin {
		position: absolute;
		top: 0;
		width: 100%;
		height: 62px;
		z-index: 1;
		background: rgba(9, 12, 81, 0.62);
	}

	.nav-wrapper {
		position: absolute;
		top: 0;
		width: 100%;
		height: 63px;
		z-index: 9;
	}

	/* .ribbon-logo {
		top: 0px;
		left: 0px;
		z-index: 1;
		height: 100vh;
		position: absolute;
		display: flex;
	} */

	.h1,
	h1 {
		/* top: 20px; */
		font-size: 1.1rem;
		margin: 37px 14px 29px 9px;
		line-height: 1.9;
	}

	.password-reset-confirm {
		margin-right: 223px;
		margin-top: 292px;
	}
}

@media screen and (min-width: 992px) {
	.m-group {
		width: 671px;
		height: 263px;

		z-index: 5;
	}

	.m-rec {
		position: absolute;
		width: 374px;
		height: 177px;
		left: 5px;
		top: -52px;
		border-radius: 2px;
	}

	.m-rect {
		width: 104px;
	}

	.nav-robbin {
		position: absolute;
		top: 0;
		width: 100%;
		height: 62px;
		z-index: 1;
		background: rgba(9, 12, 81, 0.62);
	}

	.nav-wrapper {
		position: absolute;
		top: 0;
		width: 100%;
		height: 61px;
		z-index: 9;
	}

	/* .ribbon-logo {
		top: 0px;
		left: 0px;
		z-index: 1;
		height: 100vh;
		position: absolute;
		display: flex;
	} */

	.h1,
	h1 {
		/* top: 20px; */
		font-size: 1.1rem;
		margin: 37px 14px 29px 9px;
		line-height: 1.9;
	}

	.registration-card {
		padding-left: 416px;
	}

	.assessor-registration {
		margin-top: 85px;
		max-width: 248px;
		margin-right: 43px;
	}
}

@media screen and (min-width: 1090px) {
	.m-group {
		width: 671px;
		height: 263px;
		z-index: 5;
	}
	.m-rec {
		width: 700px;
	}

	.m-rec h1 {
		font-size: 1.6rem;
	}

	.m-rect {
		font-size: 1.4rem;
	}

	.nav-robbin {
		position: absolute;
		top: 0;
		width: 100%;
		height: 62px;
		z-index: 1;
		background: rgba(9, 12, 81, 0.62);
	}

	.nav-wrapper {
		position: absolute;
		top: 0;
		width: 100%;
		height: 61px;
		z-index: 9;
	}

	/* .ribbon-logo {
		top: 0px;
		left: 0px;
		z-index: 1;
		height: 100vh;
		position: absolute;
		display: flex;
	} */

	.h1,
	h1 {
		/* top: 20px; */
		font-size: 1.1rem;
		margin: 37px 14px 29px 9px;
		line-height: 1.9;
	}

	.registration-card {
		padding-left: 502px;
		padding-right: 125px;
	}

	.fogot-password-card {
		margin-right: 160px;
	}

	.password-done {
		margin-top: 280px !important;
		margin-right: 95px;
	}
}

@media screen and (min-width: 1200px) {
	.top-section {
		background-position: right bottom;
	}

	.m-group {
		width: 671px;
		height: 263px;
		z-index: 5;
	}

	.m-rec {
		width: 550px;
	}

	.m-rec h1 {
		font-size: 1.8rem;
	}

	.m-rect {
		font-size: 1.4rem;
	}

	.m-group {
		top: calc(50vh - 20px);
	}

	.nav-robbin {
		position: absolute;
		top: 0;
		width: 100%;
		height: 62px;
		z-index: 1;
		background: rgba(9, 12, 81, 0.62);
	}

	.nav-wrapper {
		position: absolute;
		top: 0;
		width: 100%;
		height: 61px;
		z-index: 9;
	}

	/* .ribbon-logo {
		top: 0px;
		left: 0px;
		z-index: 1;
		height: 100vh;
		position: absolute;
		display: flex;
	} */

	.h1,
	h1 {
		/* top: 20px; */
		font-size: 1.1rem;
		margin: 37px 14px 29px 9px;
		line-height: 1.9;
	}

	.registration-card {
		padding-left: 588px;
	}
}

@media screen and (min-width: 1400px) {
	.m-group {
		width: 671px;
		height: 263px;
		position: absolute;
		top: calc(50vh - 40px);
		right: calc(50vw - 725px);
	}

	.m-rec {
		position: absolute;
		width: 700px;
		height: 177px;
		left: 5px;
		top: -52px;
		border-radius: 2px;
	}

	.m-rec h1 {
		font-size: 2.1rem;
	}

	.m-rect {
		width: 104px;
	}

	.nav-robbin {
		position: absolute;
		top: 0;
		width: 100%;
		height: 62px;
		z-index: 1;
		background: rgba(9, 12, 81, 0.62);
	}

	.nav-wrapper {
		position: absolute;
		top: 0;
		width: 100%;
		height: 61px;
		z-index: 9;
	}

	/* .ribbon-logo {
		top: 0px;
		left: 0px;
		z-index: 1;
		height: 100vh;
		position: absolute;
		display: flex;
	} */

	.h1,
	h1 {
		/* top: 20px; */
		font-size: 1.1rem;
		margin: 37px 14px 29px 9px;
		line-height: 1.9;
	}

	.registration-card {
		padding-left: 583px;
		padding-top: 291px;
		padding-right: 182px;
	}
}

@media screen and (min-width: 1800px) {
	.registration-card {
		padding-left: 1014px;
	}
}

/* end landing Queries */

/*
   * Sidebar
   */

.sidebar {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 100;
	background-color: rgba(186, 194, 207, 0.65);
	/* Behind the navbar */
	/* Height of navbar */
	box-shadow: inset 1px 0 0 rgba(0, 0, 0, 0.1);
}

.sidebar hr {
	margin: 0;

	height: 2px;
}

.logo-wrapper {
	height: 224px;
	border-bottom: 2px solid #b6b1b1;
}

@media (max-width: 767.98px) {
	.sidebar {
		top: 5rem;
	}
}

.sidebar-sticky {
	position: relative;
	top: 0;
	height: calc(100vh - 48px);
	padding-top: 0.5rem;
	overflow-x: hidden;
	overflow-y: auto;
	/* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
	font-weight: 500;
	color: #333;
}

.sidebar .nav-link .feather {
	margin-left: 4px;
	color: #727272;
}

.sidebar .nav-link.active {
	color: #9c0e58;
}

.sidebar .nav-link.active .nav-link-text {
	color: #9c0e58;
	border-bottom: solid 1px #9c0e58;
}

.sidebar .nav-link.active svg {
	color: #9c0e58;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
	color: inherit;
}

.sidebar-heading {
	font-size: 0.75rem;
	text-transform: uppercase;
}

/*
   * Navbar
   */

.navbar-brand {
	padding-top: 0.75rem;
	padding-bottom: 0.75rem;
	font-size: 1rem;
	background-color: rgba(0, 0, 0, 0.25);
	box-shadow: inset 1px 0 0 rgba(0, 0, 0, 0.25);
}

.navbar .navbar-toggler {
	top: 0.25rem;
	left: 1rem;
}

.navbar .form-control {
	padding: 0.75rem 1rem;
	border-width: 0;
	border-radius: 0;
}

.form-control-dark {
	color: #fff;
	background-color: rgba(255, 255, 255, 0.1);
	border-color: rgba(255, 255, 255, 0.1);
}

.form-control-dark:focus {
	border-color: transparent;
	box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.25);
}

.register-img {
	position: relative;
	width: 100%;
	height: calc((100vh + 5 * 100vmin) / 6);
	background-size: cover;
	background-repeat: no-repeat;
}

/* .register-ribbon {
	top: 0px;
	left: 0px;
	z-index: 1;
	height: 100vh;
	position: absolute;
	display: fixed;
	z-index: 0;
} */

/* Assessment members page */

table button.remove {
	color: red;
}

/* secondary menu */

#secondary_menu a.nav-link {
	color: black;
}

#secondary_menu a.nav-link.active {
	border-bottom: #2d306a 2px solid;
}

#secondary_menu li.nav-item:first-of-type {
	margin-right: 0;
}

#secondary_menu nav {
	padding-bottom: 0;
	padding-right: 0;
	min-height: 31.5px;
	margin-top: 8px;
}

#secondary_menu ul {
	z-index: 1022;
}

.welcome-message {
	margin-top: 20px;
}

.date-message {
	margin-top: 15px;
}
.button {
	background-color: #a60b56 !important;
	/* width: 5rem; */
}
.main-section {
	padding-left: 0;
	padding-right: 0;
}
.zero-maturitylevel {
	font-size: 0.6vw !important;
}
.maturity-l-0 {
	background-color: #ebebec;
}

.maturity-l-0.active {
	background-color: #cdcdd0;
	/* border-color: #CDCDD0; */
	border-color: #2d2f6a;
}

.maturity-l-1 {
	background-color: #fef1e6;
}

.maturity-l-1.active {
	background-color: #fbcfac;
	/* border-color: #FBCFAC; */
	border-color: #2d2f6a;
}

.maturity-l-2 {
	background-color: #fffbea;
}

.maturity-l-2.active {
	background-color: #fef0ba;
	/* border-color: #FEF0BA; */
	border-color: #2d2f6a;
}

.maturity-l-3 {
	background-color: #ecf0f8;
}

.maturity-l-3.active {
	background-color: #c1cee9;
	/* border-color: #C1CEE9; */
	border-color: #2d2f6a;
}

.maturity-l-4 {
	background-color: #eff7fd;
}

.maturity-l-4.active {
	background-color: #cbe6f8;
	/* border-color: #CBE6F8; */
	border-color: #2d2f6a;
}

.maturity-l-5 {
	background-color: #fbe8e7;
}

.maturity-l-5.active {
	background-color: #f0b3af;
	/* border-color: #F0B3AF; */
	border-color: #2d2f6a;
}

.response-maturity-l-0 {
	background-color: #ebebec;
	width: 13%;
}

.response-maturity-l-0.active {
	background-color: #cdcdd0;
	/* border-color: #CDCDD0; */
	border-color: #2d2f6a;
	width: 13%;
}

.response-maturity-l-1 {
	background-color: #fef1e6;
	width: 15%;
}

.response-maturity-l-1.active {
	background-color: #fbcfac;
	/* border-color: #FBCFAC; */
	border-color: #2d2f6a;
	width: 15%;
}

.response-maturity-l-2 {
	background-color: #fffbea;
	width: 17%;
}

.response-maturity-l-2.active {
	background-color: #fef0ba;
	/* border-color: #FEF0BA; */
	border-color: #2d2f6a;
	width: 17%;
}

.response-maturity-l-3 {
	background-color: #ecf0f8;
	width: 17%;
}

.response-maturity-l-3.active {
	background-color: #c1cee9;
	/* border-color: #C1CEE9; */
	border-color: #2d2f6a;
	width: 17%;
}

.response-maturity-l-4 {
	background-color: #eff7fd;
	width: 22%;
}

.response-maturity-l-4.active {
	background-color: #cbe6f8;
	/* border-color: #CBE6F8; */
	border-color: #2d2f6a;
	width: 22%;
}

.response-maturity-l-5 {
	background-color: #fbe8e7;
	width: 26%;
}

.response-maturity-l-5.active {
	background-color: #f0b3af;
	/* border-color: #F0B3AF; */
	border-color: #2d2f6a;
	width: 26%;
}

/* .gs-1-fill {
	fill: #f3d08c;
}

.gs-1-fill.active {
	fill: #f6ad22;
	border-color: #f6ad22;
}

.gs-1-fill.colour {
	fill: #f6ad22;
	color: #f6ad22;
}

.gs-2-fill {
	fill: #b3d49f;
}

.gs-2-fill.active {
	fill: #5bbd41;
	border-color: #5bbd41;
}

.gs-2-fill.colour {
	fill: #5bbd41;
	color: #5bbd41;
}

.gs-3-fill {
	fill: #93b1d5;
}

.gs-3-fill.active {
	fill: #176ba7;
	border-color: #176ba7;
}

.gs-3-fill.colour {
	fill: #176ba7;
	color: #176ba7;
}

.gs-4-fill {
	fill: #ae8fb8;
}

.gs-4-fill.active {
	fill: #76137d;
	border-color: #76137d;
}

.gs-4-fill.colour {
	fill: #76137d;
	color: #76137d;
}

.gs-5-fill {
	fill: #db8791;
}

.gs-5-fill.active {
	fill: #d6000b;
	border-color: #d6000b;
}

.gs-5-fill.colour {
	fill: #d6000b;
	color: #d6000b;
}

.gs-6-fill {
	fill: #ecad92;
}

.gs-6-fill.active {
	fill: #f75f00;
	border-color: #f75f00;
}

.gs-6-fill.colour {
	fill: #f75f00;
	color: #f75f00;
}

.gs-1 {
	background-color: #f3d08c !important;
}

.gs-1.active {
	background-color: #f6ad22 !important;
	border-color: #f6ad22;
	color: #fff;
}

.gs-2 {
	background-color: #b3d49f !important;
}

.gs-2.active {
	background-color: #5bbd41 !important;
	border-color: #5bbd41;
	color: #fff;
}

.gs-3 {
	background-color: #93b1d5 !important;
}

.gs-3.active {
	background-color: #176ba7 !important;
	border-color: #176ba7;
	color: #fff;
}

.gs-4 {
	background-color: #ae8fb8 !important;
}

.gs-4.active {
	background-color: #76137d !important;
	border-color: #76137d;
	color: #fff;
}

.gs-5 {
	background-color: #db8791 !important;
}

.gs-5.active {
	background-color: #d6000b !important;
	border-color: #d6000b;
	color: #fff;
}

.gs-6 {
	background-color: #ecad92 !important;
}

.gs-6.active {
	background-color: #f75f00 !important;
	border-color: #f75f00;
	color: #fff;
} */

.sg-dashboard {
	height: 10px;
	width: 1074px;
	left: 40px;
	top: 10px;
	border-radius: nullpx;
	padding: 10px 100px 50px 100px;
}

.header-container {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 250px;
}

.dashboard-content {
	margin-top: 280px;
}

.header-container > div {
	position: relative;
	width: 100%;
}

.dashboard-ribbon {
	background-size: cover;
	background-repeat: no-repeat;
	position: fixed;
	left: 25px;
	top: 17px;
	height: 100%;
	max-height: 100px;
	z-index: 11;
}

.dashboard-ribbon:hover {
	cursor: pointer;
}

.extra-logo {
	height: 100%;
	max-height: 100px;
	position: absolute;
	left: 129px;
	top: 17px;
	z-index: 1021;
}

.sg-help {
	height: 10px;
	width: 1074px;
	left: 40px;
	top: 10px;
	border-radius: nullpx;
	padding: 5px 100px 30px 10px;
}

.sg-help-reason {
	height: 5px;
	width: 1074px;
	left: 40px;
	top: 10px;
	border-radius: nullpx;
	padding: 5px 100px 30px 10px;
}

.sg-help-content {
	width: 1074px;
	left: 40px;
	border-radius: nullpx;
	padding: 0px 101px 27px 120px;
}

table.sg-help-content {
	width: auto;
}

.sg-help-content-1 {
	height: 10px;
	width: 1074px;
	left: 40px;
	top: 10px;
	border-radius: nullpx;
	padding: 15px 100px 15px 100px;
}

.sg-help-header {
	height: 10px;
	width: 1074px;
	left: 40px;
	top: 10px;
	border-radius: nullpx;
	padding: 15px 100px 15px 100px;
}

.jumptarget {
	scroll-margin-top: 80px;
}

.ml-item.ml-restricted {
	cursor: not-allowed;
}

.response-textarea-btn {
	min-width: 40px;
}

.login-wrapper {
	height: 100%;
	width: 85%;
}

/* .login-wrapper > div {
	z-index: -1;
} */

.assessment-card:hover {
	box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

.card-container {
	--bs-gutter-x: 7rem;
}

.group-progress-chart {
	width: 100%;
}
.group-progress-chart svg {
	width: 100%;
	height: auto;
	max-width: 450px;
}

.bg-pcn-darkblue {
	background-color: #2d306a !important;
}

.bg-pcn-purpule {
	background-color: #9c0e58 !important;
}

#loading {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: fixed;
	display: block;
	opacity: 0.4;
	background-color: rgb(128, 128, 128);
	z-index: 9999;
	text-align: center;
}

#loading-image {
	position: absolute;
	top: calc(50vh - 50px);
	left: calc(50vw - 50px);
	z-index: 100;
	opacity: 1;
	width: 100px;
	height: 100px;
}
#loading-image.spinner-border {
	border: 1.25em solid #860752;
	border-left-color: transparent;
}

table a {
	color: #2d306a !important;
}

table .btn-link {
	color: #2d306a !important;
}

.confirm-content {
	margin-top: 0.5rem !important;
	margin-bottom: 0.5rem !important;
}

.contact-card {
	top: 175px;
	right: -106px;
}

.contact-card textarea {
	min-height: 100px;
}

.contact-wrapper {
	/* height: calc(100vh - 80px); */
	top: 80px;
	position: absolute;
	width: 75%;
}

.sg-overview p {
	min-height: 30px;
}
