{% extends "base-registration.html" %}
{% load i18n %}
{% load formcss %}
{% load static %}

{% block description %} 
<h3>Forbiddon Error!</h3>
<p>You don't have permission to access / on this server.</p>
{% endblock description %} 

{% block content %}                    
<div class="col-lg-5 col-md-12 offset-lg-1">
    <div class="card-plain">
        <div class="header">                            
            <h5>Error 403</h5>
            <span>Forbiddon Error!</span>
        </div>
        <form class="form">                            
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Enter your search term...">
                <span class="input-group-addon"><i class="zmdi zmdi-search"></i></span>
            </div>
        </form>
        <div class="footer">
            <a href="" class="btn btn-primary btn-round btn-block">Back To Home</a>                            
        </div>
        <a href="javascript:void(0);" class="link">Need Help?</a>
    </div>
</div>

{% endblock %}